.contact {
  @include e(container) {
    position: fixed;
    z-index: 99;
    display: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: $white;

    &.is-open {
      display: block;
    }

    @include m(wrapper) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 70%;
      margin: 0;
      padding: 0;

      @include media-query(desk-wide) {
        font-size: 1.2rem;
      }

      @include media-query(desk) {
          font-size: 1.15rem;
      }

      @include media-query(lap) {
          font-size: 1.1rem;
      }

      @include media-query(tabl) {
          font-size: 1.05rem;
      }

      @include media-query(palm) {
          font-size: 1rem;
      }

      @include media-query(tabl-and-down) {
        width: 90%;
      }

      text-align: center;

      p {
        margin: 0;
      }

      a {
        padding-bottom: 0.25rem;

        text-decoration: none;
        color: $black;
        border-bottom: 1px solid $black;
      }

      div {
        margin-bottom: 2rem;
      }

      @include media-query(tabl) {
        div {
          margin-bottom: 1.5rem;
        }
      }

      @include media-query(palm) {
        div {
          margin-bottom: 1rem;
        }
      }
    }

    @include m(colophone) {
      margin-bottom: 0!important;
      a {
        font-size: small;
        border-bottom-width: 1px;
      }
    }
  }
}
