/* Preload images */
body:after {
  content: url(../images/close.png) url(../images/spinner.gif) url(../images/prev.png) url(../images/next.png);
  display: none;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  display: none;
}

.lightbox {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;


  top: 50%;
  transform: translateY(-50%);
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  background-color: #000;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  //background: url(../images/spinner.gif) no-repeat;
  background: none;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-container {
  background-image: url(../images/spinner.gif);
  background-position: 50% 50%;
  background-size: 50px 50px;
  background-repeat: no-repeat;
}

.lb-nav a {
  outline: none;
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: none;
}

.lb-nav a.lb-prev {
  width: 50%;
  left: 0;
  float: left;
  background: url(../images/prev.png) left 50% no-repeat;
  background-size: 100px 100px;
  background-position-x: 5%;
  opacity: 0;
  @include media-query(tabl-and-down) {
    opacity: 1;
    background-size: 50px 50px;
  }
}

.lb-nav a.lb-prev:hover {
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 50%;
  right: 0;
  float: right;
  background: url(../images/next.png) right 50% no-repeat;
  background-size: 100px 100px;
  background-position-x: 95%;
  opacity: 0;
  @include media-query(tabl-and-down) {
    opacity: 1;
    background-size: 50px 50px;
  }
}

.lb-nav a.lb-next:hover {
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
  display: none;
}

.lb-data .lb-details {
  display: none;
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-close, .lb-data {
  display: block;
  width: 100%;
  height: 60px;
  background: url(../images/close.png) top right no-repeat;
  text-align: center;
  outline: none;
  background-size: contain;
  background-position: 50% 50%;
  @include media-query(tabl-and-down) {
    height: 50px;
  }
}

.lb-close {
  display: block;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  opacity: 1;
}
