.about__container {
    margin: 0 auto;
    padding: 100px 0 5%;
    overflow: hidden;
    background-color: #fff;

    @include media-query(desk-wide) {
        max-width: 60%;
        font-size: 1.2rem;
    }

    @include media-query(desk) {
        max-width: 70%;
        font-size: 1.15rem;
    }

    @include media-query(lap) {
        max-width: 70%;
        font-size: 1.1rem;
    }

    @include media-query(tabl) {
        max-width: 80%;
        font-size: 1.05rem;
    }

    @include media-query(palm) {
        padding-top: 5%;
        max-width: 90%;
        font-size: 1rem;
    }

    p {
        padding-right: 1rem;
        
        &:first-child {
            margin-top: 0;
            &:before {
                content: "";
                margin: 0;
            }
        }
        &:before {
            content: " ";
            margin: 0 0 0 3rem;
            @include media-query(palm) {
                margin: 0 0 0 2rem;
            }
        }
    }
}