.archive {
    @include e(container) {
        @include container();
    }

    @include e(post) {
    	margin-bottom: 3rem;

        @include media-query(tabl-and-down) {
            margin-bottom: 2rem;
        }

    	@include m(date) {
    		@include media-query(lap-and-up) {
	    		float: left;
				height: 130px;
				margin-top: 0.2rem;
				margin-right: 2rem;
    		}
    	}
    }

    @include e(preview) {
    	@include m(link) {
    		text-decoration: none;
    		color: $black;
    	}
    }
}