.credit__container {
    max-width: 70%;
    margin: 0 auto;
    padding: 5% 0;
    overflow: hidden;

    background-color: $white;

    @include media-query(tabl) {
        max-width: 80%;

        padding-top: 10%;
    }

    @include media-query(palm) {
        max-width: 90%;
        padding-top: 5%;
    }
}

.clients  {
    margin-bottom: 5rem; 

    @include e(list) {
        margin: 0;
        padding: 0;

        list-style-type: none;

        @include m(item) {
            display: inline-block;
            &:last-child {
                &:after {
                    content: " ";
                }
            }
            &:after {
                content: "\2022";
            }
        }
    }
}

.exhibitions  {
    margin-bottom: 5rem; 

    @include e(list) {
        margin: 0;
        padding: 0;

        list-style-type: none;

        @include m(item) {
            margin-bottom: 2rem;
        }
    }
}

.exhibition {
    @include e(title) {
        margin: 0;
        font-weight: 400;
    }

    @include e(link) {
        font-size: small;
        color: $black;
        text-decoration: none;
        text-transform: uppercase;
        border-bottom: 1px solid $black;
    }

    @include e(date) {
        margin-right: 1rem;
        font-size: small;
    }
}

.publications {
    ul {
        margin: 0 0 0 -2rem;
        padding: 0;


        list-style-type: none;

        @include media-query(tabl-and-down) {
            margin: 0;
        }
    }
}

.publication {
    display: inline-block;
    width: 43%;
    margin-bottom: 2rem;
    padding-left: 2rem;

    &:last-child {
        margin-bottom: 0;
    }

    @include media-query(tabl-and-down) {
        width: 100%;
        padding: 0;
    }

    figure {
        line-height: 0;
        margin-bottom: 0.25rem;
    }

    span {
        font-size: small;
    }

    a {
        display: none;

        &:first-child {
            display: block;

            background-color: $black;
            background-image: url(../images/loading.gif);
            background-position: 50% 50%;
            background-size: 68px 24px;
            background-repeat: no-repeat;
        }
    }
}