.work {
    z-index: 3;

    background-color: #fff;
    line-height: 0;

    position: absolute;
    min-width: 15%;
    max-width: 30%;

    opacity: 0;

    @include media-query(palm) {
        max-width: 40%;
    }
}

.work a {
    display: none;
}

.work a:first-child {
    display: block;
}

img{
    width: 100%;
}