.work {
    z-index: 3;

    background-color: #fff;
    line-height: 0;

    position: absolute;
    min-width: 100px;
    max-width: 15%;

    opacity: 0;

    @include media-query(tabl) {
        max-width: 20%;
    }

    @include media-query(palm) {
        max-width: 30%;
    }
}

.work a {
    display: none;
}

.work a:first-child {
    display: block;
}

img{
    width: 100%;
}

.box:hover > .overlay {
    opacity: 1;
    background-size: 8rem;
}

.box:hover > img {
    //opacity: 0.2;
}