.journal {
    @include e(container) {
        @include container;
    }

    @include e(post-list) {
        margin: 0;
        padding: 0;

        list-style-type: none;
    }

    @include e(post) {
        margin-bottom: 2rem;

        @include m(date) {
            margin-bottom: .5rem;
            text-transform: uppercase;
            letter-spacing: .10rem;
            font-size: large;

            @include media-query(tabl-and-down) {
                font-size: small;
            }
        }

        @include m(title) {
            margin: 0;
        }

        @include m(description) {
            margin: 0;
        }
    }
}