.journal {
    @include e(container) {
        @include container;

        padding-top: 100px;
        max-width: 590px;
        @include media-query(tabl) {
            max-width: 80%;
        }
    }

    @include e(post-list) {
        margin: 0;
        padding: 0;

        list-style-type: none;
    }

    @include e(post) {
        margin-bottom: 2em;

        @include m(date) {
            margin-bottom: .5em;
            text-transform: uppercase;
            letter-spacing: .10em;
            font-size: small;
        }

        @include m(title) {
            margin: 0;
            font-weight: normal;
        }

        @include m(description) {
            margin: 0;
            font-size: medium;
        }
    }
}