.works {
    @include e(container) {
        @include container;
        padding-top: 4rem;
    }

    @include e(tags) {
        @include m(list) {
            margin: 0;
            padding: 0;

            list-style-type: none;
        }
    }

    @include e(new) {
        margin: 5rem auto 0 auto;
        padding: 2rem 2rem 1rem 2rem;
        border: 0.2rem solid #000;
        max-width: 70%;

        background-color: $white;

        @include media-query(tabl-and-down) {
            padding: 1rem 1rem 0 1rem;
            max-width: 80%;
            margin: 5rem auto 4rem auto;
        }
    }
}

.tags {
    @include e(list) {
        @include m(item) {
            margin-bottom: 3rem;
        }
    }
}

.tag {
    @include e(name) {
        @include m(related-works) {
            margin: 0;
            padding: 0;

            width: 100%;
        }
    }
}

.related-works {
    @include e(item) {
        display: inline-block;

        margin: 0 2rem 1rem 0;
        padding: 0;
        list-style-type: none;

        max-width: 100%;

        &:last-child {
            margin-right: 0;
        }

        figure {
            a {
                position: relative;
                text-decoration: none;
                line-height: 0;
            }

            img {
                background-image: url(../images/spinner.gif);
                background-position: 50% 50%;
                background-size: 50px 50px;
                background-repeat: no-repeat;

            }
            figcaption {
                font-size: small;
                line-height: 2;
            }
        }
    }
}

.work {
    @include e(thumb) {
        display: none;
        &:first-child {
            display: block;

            background-color: #000;
            background-image: url(../images/spinner.gif);
            background-position: 50% 50%;
            background-size: 50px 50px;
            background-repeat: no-repeat;

            @include media-query(palm) {
                 max-width: 90%;
            }
        }
    }

    @include e(lightbox) {
        display: none;
    }

    @include e(description) {
        display: none;
        z-index: 99999;
        position: fixed;
        background-color: $white;

        top: 50%;
        transform: translateY(-50%);

        width: 70%;
        height: 50%;

        &.is-open {
            display: block;
        }
    }
}