.works {
    @include e(container) {
        @include container;
        padding-top: 4rem;
    }

    @include e(tags) {
        @include m(list) {
            margin: 0;
            padding: 0;

            list-style-type: none;
        }
    }

    @include e(new) {
        margin: 5rem auto 0 auto;
        padding: 2rem 2rem 1rem 2rem;
        border: 0.2rem solid #000;
        max-width: 70%;

        background-color: $white;

        @include media-query(tabl-and-down) {
            padding: 1rem 1rem 0 1rem;
            max-width: 80%;
            margin: 5rem auto 4rem auto;
        }
    }
}

.tags {
    @include e(list) {
        @include m(item) {
            margin-bottom: 3rem;
        }
    }
}

.tag {
    @include e(name) {
        @include m(related-works) {
            margin: 0;
            padding: 0;

            width: 100%;
        }
    }
}

.related-works {
    @include e(item) {
        display: inline-block;

        margin: 0 2rem 1rem 0;
        padding: 0;
        list-style-type: none;

        max-width: 100%;

        &:last-child {
            margin-right: 0;
        }

        figure {
            a {
                position: relative;
                text-decoration: none;
                line-height: 0;
            }

            img {
                min-height: 200px;
                min-width: 100px;
                @include media-query(palm) {
                    min-height: 100px;
                }
            }

            figcaption {
                font-size: small;
                line-height: 2;
            }
        }
    }
}

.work {
    @include e(thumb) {
        display: none;
        &:first-child {
            display: block;

            background-color: $black;
            background-image: url(../images/loading.gif);
            background-position: 50% 50%;
            background-size: 68px 24px;
            background-repeat: no-repeat;

            @include media-query(palm) {
                 max-width: 90%;
            }
        }
    }

    @include e(lightbox) {
        display: none;
    }

    @include e(info) {

        @include m(button) {
            display: none;
            z-index: 99999;
            position: fixed;
            top: 7px;
            right: 60px;
            width: 30px;
            height: 30px;
            border: 3px solid $white;
            border-radius: 50%;
            text-align: center;
            line-height: 30px;
            color: $white;
            text-decoration: none;
        }

        @include m(description) {
            display: none;
            z-index: 99999;
            position: fixed;
            background-color: $white;

            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            width: 60%;
            height: 60%;

            @include media-query(tabl) {
                width: 70%;
                height: 70%;
            }

            @include media-query(palm) {
                width: 80%;
                height: 80%;
            }

            .work__info--content {
                padding: 0;
                margin: 0;
                overflow-y: scroll;
                height: 100%; 
                h2 {
                    max-width: 80%;
                    line-height: 1.1;
                    margin: 1.5rem 2rem 1rem 2rem;
                    @include media-query(palm) {
                        margin: 0.75rem 1rem 0.5rem 1rem;
                    }
                }
                p {
                    margin: 0 2rem 2rem 2rem;
                    line-height: 1.5;
                    @include media-query(palm) {
                        margin: 0 1rem 2rem 1rem;
                    }
                }
            }

            &.is-open {
                display: block;
            }
        }

        @include m(close) {
            position: absolute;
            top: 1rem;
            right: 1rem;
            width: 30px;
            height: 30px;
            display: block;
            background: url(../images/close-bk.png);
            background-size: contain;
            background-position: top right;
            background-repeat: no-repeat;

            cursor: pointer;

            @include media-query(palm) {
                height: 20px;
                width: 20px;
            }
        }

        @include m(gradient) {
            position: absolute;
            width: 100%;
            height: 3rem;
            z-index: 999999;
            margin-top: -3rem;
            background: rgba(255,255,255,0);
            background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
            background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
            background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
            background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
        }

        &.is-active {
            .work__info--button {
                display: block;
            }
        }
    }

    
}