.works {
    @include e(container) {
        @include container;
    }

    @include e(tags) {
        @include m(list) {
            margin: 0;
            padding: 0;

            list-style-type: none;
        }
    }
}

.tags {
    @include e(list) {
        @include m(item) {
            margin-bottom: 3rem;
        }
    }
}

.tag {
    @include e(name) {
        @include m(related-works) {
            margin: 0;
            padding: 0;

            width: 100%;
        }
    }
}

.related-works {
    @include e(item) {
        display: inline-block;

        margin: 0 2rem 1rem 0;
        padding: 0;
        list-style-type: none;

        &:last-child {
            margin-right: 0;
        }

        figure {
            a {
                position: relative;
                text-decoration: none;
                line-height: 0;
            }

            img {
                width: auto;
                min-height: 200px;

                background-image: url(../images/spinner.gif);
                background-position: 50% 50%;
                background-size: 50px 50px;
                background-repeat: no-repeat;

                @include media-query(lap-and-up) {
                    max-height: 200px;
                    min-width: 300px;
                }
            }
            figcaption {
                font-size: small;
                line-height: 2;
            }
        }
    }
}

.work {
    @include e(thumb) {
        display: none;
        &:first-child {
            display: block;
            min-height: 200px;

            background-color: #000;
            background-image: url(../images/spinner.gif);
            background-position: 50% 50%;
            background-size: 50px 50px;
            background-repeat: no-repeat;
        }
    }

    @include e(lightbox) {
        display: none;
    }
}