@import url(http://fonts.googleapis.com/css?family=Inconsolata);
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 * Typography
 */
html {
  font-size: 1em;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Inconsolata', 'Lucida Console', 'Courier New', monospace;
}

/* Media Queries */
/* Container definition */
.site__title {
  position: fixed;
  z-index: -1;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 1rem;
}
@media only screen and (max-width: 767px) {
  .site__title {
    top: 0;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    font-size: 1.8rem;
    line-height: 1.7;
  }
}
.site__title a {
  padding-left: 1rem;
  text-decoration: none;
  color: black;
}

.menu__toogle {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  margin-left: 2rem;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .menu__toogle {
    top: 0;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    margin-left: 1rem;
  }
}
@media only screen and (max-width: 480px) {
  .menu__toogle {
    top: auto;
    bottom: 0;
  }
}

.menu__toogle--bars {
  position: absolute;
  display: block;
  width: 3rem;
  height: 0.25rem;
  margin-top: 1.5rem;
  background-color: black;
  content: " ";
}
@media only screen and (max-width: 767px) {
  .menu__toogle--bars {
    width: 2rem;
    height: 0.15rem;
  }
}
.menu__toogle--bars:after {
  position: absolute;
  display: block;
  bottom: 0.75rem;
  width: 3rem;
  height: 0.25rem;
  background-color: black;
  content: " ";
}
@media only screen and (max-width: 767px) {
  .menu__toogle--bars:after {
    bottom: 0.5rem;
    width: 2rem;
    height: 0.15rem;
  }
}
.menu__toogle--bars:before {
  position: absolute;
  display: block;
  top: 0.75rem;
  width: 3rem;
  height: 0.25rem;
  background-color: black;
  content: " ";
}
@media only screen and (max-width: 767px) {
  .menu__toogle--bars:before {
    top: 0.5rem;
    width: 2rem;
    height: 0.15rem;
  }
}

.menu__toogle.is-open {
  z-index: 999;
}
.menu__toogle.is-open span {
  background-color: transparent;
}
.menu__toogle.is-open span:before {
  background-color: #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 1;
  top: 0;
}
.menu__toogle.is-open span:after {
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 1;
  top: 0;
}

.contact__toogle {
  position: fixed;
  z-index: 1;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 3rem;
  font-size: 3rem;
  cursor: pointer;
}
.contact__toogle--icon:after {
  content: "@";
}
@media only screen and (max-width: 767px) {
  .contact__toogle {
    top: 0;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    width: 2rem;
    font-size: 2rem;
    line-height: 1.5;
  }
}
@media only screen and (max-width: 480px) {
  .contact__toogle {
    top: auto;
    bottom: 0;
  }
}

.contact__toogle.is-open {
  z-index: 999;
  right: 0;
  height: 3rem;
  margin-right: 1rem;
}
.contact__toogle.is-open span:after {
  position: absolute;
  display: block;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 1;
  top: 1.5rem;
  width: 3rem;
  height: 0.25rem;
  background-color: black;
  content: " ";
}
@media only screen and (max-width: 767px) {
  .contact__toogle.is-open span:after {
    width: 2rem;
    height: 0.15rem;
  }
}
.contact__toogle.is-open span:before {
  position: absolute;
  display: block;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 1;
  top: 1.5rem;
  width: 3rem;
  height: 0.25rem;
  background-color: black;
  content: " ";
}
@media only screen and (max-width: 767px) {
  .contact__toogle.is-open span:before {
    width: 2rem;
    height: 0.15rem;
  }
}

.menu__container {
  position: fixed;
  z-index: 99;
  display: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: black;
}
.menu__container.is-open {
  display: block;
}
.menu__container--list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}
.menu__container--list li > a {
  display: block;
  font-size: 4rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #fff;
  margin: 2rem;
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .menu__container--list li > a {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 480px) {
  .menu__container--list li > a {
    font-size: 2rem;
  }
}

.active {
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.contact__container {
  position: fixed;
  z-index: 99;
  display: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: white;
}
.contact__container.is-open {
  display: block;
}
.contact__container--wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  margin: 0;
  padding: 0;
  text-align: center;
}
.contact__container--wrapper p {
  margin: 0;
}
.contact__container--wrapper a {
  padding-bottom: 0.25rem;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid black;
}
.contact__container--wrapper div {
  margin-bottom: 2rem;
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .contact__container--wrapper div {
    margin-bottom: 1.5rem;
  }
}
@media only screen and (max-width: 480px) {
  .contact__container--wrapper div {
    margin-bottom: 1rem;
  }
}
.contact__container--colophone a {
  font-size: small;
  border-bottom-width: 1px;
}
.contact__container--colophone a .pile-of-poo {
  display: inline-block;
}
.contact__container--colophone a .pile-of-poo:after {
  display: inline-block;
  vertical-align: top;
  content: " ";
  width: 20px;
  height: 20px;
  margin: -1px 0.25rem 0 0.25rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url(../images/pile-of-poo.svg);
}

/* Preload images */
body:after {
  content: url(../images/close.png) url(../images/loading.gif) url(../images/prev.png) url(../images/next.png);
  display: none;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  display: none;
  cursor: url(../images/close.png), auto;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
  cursor: url(../images/close.png), auto;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  background-color: #000;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: none;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: none;
}

.lb-prev {
  cursor: url(../images/prev.png), auto;
}

.lb-next {
  cursor: url(../images/next.png), auto;
}

.lb-nav a.lb-prev {
  width: 50%;
  left: 0;
  float: left;
  /*background: url(../images/prev.png) left 48% no-repeat;*/
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 50%;
  right: 0;
  float: right;
  /*background: url(../images/next.png) right 48% no-repeat;*/
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
  display: none;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: none;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-close {
  display: block;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.work {
  z-index: 3;
  background-color: #fff;
  line-height: 0;
  position: absolute;
  min-width: 100px;
  max-width: 22%;
  opacity: 0;
}

.work a {
  display: none;
}

.work a:first-child {
  display: block;
}

.mobile {
  z-index: -99;
  position: relative;
  width: 100%;
  max-width: 100%;
  margin-bottom: 3rem;
}
.mobile .overlay {
  display: none;
}

.publication a {
  display: none;
}

.publication a:first-child {
  display: block;
}

img {
  width: 100%;
}

.box:hover > .overlay {
  opacity: 1;
  background-size: 8rem;
}

.box:hover > img {
  opacity: 0.2;
}

.about__container {
  max-width: 70%;
  margin: 0 auto;
  padding: 5% 0;
  overflow: hidden;
  background-color: white;
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .about__container {
    max-width: 80%;
    padding-top: 10%;
  }
}
@media only screen and (max-width: 480px) {
  .about__container {
    max-width: 90%;
    padding-top: 5%;
  }
}
.about__container p:first-child {
  margin-top: 0;
}

.credit__container {
  max-width: 70%;
  margin: 0 auto;
  padding: 5% 0;
  overflow: hidden;
  background-color: white;
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .credit__container {
    max-width: 80%;
    padding-top: 10%;
  }
}
@media only screen and (max-width: 480px) {
  .credit__container {
    max-width: 90%;
    padding-top: 5%;
  }
}

.section__title {
  display: block;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.clients {
  margin-bottom: 5rem;
}
.clients__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.clients__list--item {
  display: inline-block;
  margin-right: 2rem;
}

.exhibitions {
  margin-bottom: 5rem;
}
.exhibitions__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.exhibitions__list--item {
  margin-bottom: 2rem;
}

.exhibition__title {
  margin: 0;
  font-weight: 400;
}
.exhibition__link {
  font-size: small;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid black;
}
.exhibition__date {
  margin-right: 1rem;
  font-size: small;
}

.publications {
  margin-bottom: 5rem;
}
.publications ul {
  margin: 0 0 0 -2rem;
  padding: 0;
  list-style-type: none;
}

.publication {
  display: inline-block;
  width: 44%;
  margin-bottom: 2rem;
  padding-left: 2rem;
}
@media only screen and (max-width: 767px) {
  .publication {
    width: 100%;
    margin-bottom: 2rem;
  }
}
.publication span {
  font-size: small;
}

.works__container {
  max-width: 70%;
  margin: 0 auto;
  padding: 5% 0;
  overflow: hidden;
  background-color: white;
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .works__container {
    max-width: 80%;
    padding-top: 10%;
  }
}
@media only screen and (max-width: 480px) {
  .works__container {
    max-width: 90%;
    padding-top: 5%;
  }
}
.works__tags--list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tags__list--item {
  margin-bottom: 3rem;
}

.tag__name--related-works {
  margin: 0;
  padding: 0;
  width: 100%;
}

.related-works__item {
  display: inline-block;
  margin: 0 2rem 1rem 0;
  padding: 0;
  list-style-type: none;
}
.related-works__item:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 767px) {
  .related-works__item {
    width: 100%;
    height: auto;
  }
}
.related-works__item figure a {
  position: relative;
  text-decoration: none;
  line-height: 0;
}
.related-works__item figure img {
  width: auto;
}
@media only screen and (min-width: 768px) {
  .related-works__item figure img {
    max-height: 200px;
  }
}
@media only screen and (max-width: 767px) {
  .related-works__item figure img {
    width: 100%;
    height: auto;
  }
}
.related-works__item figure img:hover {
  opacity: 0.2;
}
.related-works__item figure figcaption {
  font-size: small;
  line-height: 2;
}

.work__thumb {
  display: none;
}
.work__thumb:first-child {
  display: block;
}
.work__lightbox {
  display: none;
}

.journal__container {
  max-width: 70%;
  margin: 0 auto;
  padding: 5% 0;
  overflow: hidden;
  background-color: white;
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .journal__container {
    max-width: 80%;
    padding-top: 10%;
  }
}
@media only screen and (max-width: 480px) {
  .journal__container {
    max-width: 90%;
    padding-top: 5%;
  }
}
.journal__post-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.journal__post {
  margin-bottom: 2rem;
}
.journal__post--date {
  font-size: medium;
}
@media only screen and (max-width: 767px) {
  .journal__post--date {
    font-size: small;
  }
}
.journal__post--title {
  margin: 0;
}
.journal__post--description {
  margin: 0;
}

.container {
  max-width: 90%;
  margin: 5rem auto;
}
.container.is-hidden {
  display: none;
}

.overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/eye__white.svg);
  background-color: #000;
  background-size: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 1;
}
