/*  TEMPORARY DEFINITION  */

.container {
    max-width: 90%;
    margin: 5rem auto;

    &.is-hidden {
        display: none;
    }
}


.work {
    z-index: 3;

    background-color: #fff;
    line-height: 0;

    position: absolute;
    max-width: 300px;
}

.work a {
    display: none;
}

.work a:first-child {
    display: block;
}

.publication a {
    display: none;
}

.publication a:first-child {
    display: block;
}

img{
    width: 100%;
}

.box:hover > .overlay {
    opacity: 1;
    background-size: 8rem;
}

.box:hover > img {
    opacity: 0.2;
}

.overlay {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/eye__white.svg);
    background-color: #000;
    background-size: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: 1;
}
